<div class="bg-white shadow-sm rounded-3 px-4 pt-4 pb-2 mb-4">
    <div class="mb-3">
        <h6 class="text-gray-dark">
            <i class="fas fa-user-check me-2"></i> Validação do Colaborador
        </h6>
        <p class="text-gray mb-0">Preencha o seu login e senha do MV para iniciar o registro.</p>
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">
            <i class="fas fa-user"></i>
        </span>
        <div class="form-floating form-floating-sm">
            <input type="text" id="TxLogin" class="form-control" placeholder="Digite seu login do MV" />
            <label for="TxLogin" class="text-muted">Login</label>
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text">
            <i class="fas fa-lock"></i>
        </span>
        <div class="form-floating form-floating-sm">
            <input type="password" id="TxSenha" class="form-control" placeholder="Digite sua senha do MV" />
            <label for="TxSenha" class="text-muted">Senha</label>
        </div>
    </div>
    <div class="mt-3" id="contentBtnValidar">
        <button type="button" id="btnValidar" class="btn bg-primary-alt text-white w-100">
            <i class="fas fa-check-circle me-2"></i> Validar Colaborador
        </button>
    </div>
    <hr>
    <div id="dadosUsuario" class="text-gray-dark" style="font-size: 0.95rem;"></div>
</div>
