@model TipoAcidenteViewMOD
@{
    ViewData["Title"] = "Cadastrar Nova Categoria de Acidente";
}

<div class="container-fluid pt-5 px-5">
    <div class="mb-4 row">
        <div class="col-8 text-start">
            <h3 class="text-gray-dark">
                <i class="fas fa-plus-circle me-2"></i>Nova Categoria de Aciente
            </h3>
            <p class="text-gray">Local para cadastro de uma nova categoria de acidente</p>
        </div>
        <div class="col-4 text-end">
            <a asp-action="Index" asp-controller="TipoAcidente" asp-area="Admin" class="btn btn-xs px-3 py-1 btn-outline-gray">
                <i class="fas fa-chevron-left me-2"></i> Voltar
            </a>
        </div>
    </div>
    @using (Html.BeginForm("Cadastrar", "TipoAcidente", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SnAtivo)
        <div class="card shadow-sm mb-4 rounded-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <p class="text-gray mb-4">Preencha o campo para cadastro...</p>
                        <label asp-for="TxTipoAcidente" class="form-label text-gray-dark fw-semibold">
                            Tipo de acidente
                        </label>
                        <div class="input-group search-input-group shadow-sm">
                            <span class="input-group-text bg-white border-end-0">
                                <i class="fas fa-exclamation-triangle text-muted"></i>
                            </span>
                            <input asp-for="TxTipoAcidente"
                                   class="form-control border-start-1"
                                   placeholder="Informe o título da caregoria de acidente" />
                        </div>
                        <span asp-validation-for="TxTipoAcidente" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="TxDescricao" class="form-label text-gray-dark fw-semibold">
                            Descrição
                        </label>
                        <div class="input-group search-input-group shadow-sm">
                            <span class="input-group-text bg-white border-end-0">
                                <i class="fas fa-comments text-muted"></i>
                            </span>
                            <input asp-for="TxDescricao"
                                   class="form-control border-start-1"
                                   placeholder="Informe a descrição da caregoria de acidente" />
                        </div>
                        <span asp-validation-for="TxDescricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 text-start">
                        <a href="@Url.Action("Index")" class="btn btn-outline-gray btn-sm">
                            <i class="fas fa-chevron-left me-1"></i> Cancelar
                        </a>
                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" class="btn bg-primary text-white btn-sm">
                            <i class="fas fa-save me-1"></i> Cadastrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
