<nav class="app-header navbar navbar-expand bg-primary shadow-sm py-0 px-lg-4 px-1 header">
    <div class="container-fluid align-items-center justify-content-between mx-4">
        <div class="d-flex align-items-center">
            <a asp-action="Index" asp-controller="Home" class="brand-link d-flex align-items-center text-decoration-none">
                <img src="Logo.png" class="header-logo" alt="Logo">
                <span class="h4 pt-4 ms-3 text-white">RAT</span>
            </a>
        </div>
        <div class="header-links d-none d-lg-flex align-items-center gap-3">
            <a asp-action="Index" asp-controller="Home" asp-area="" class="header-pill">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
            <a href=""
               class="btn btn-green-light btn-lg fs-6 shadow px-4 py-1">
                Acessar Externo<i class="ms-2 fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</nav>
