@model PerguntaMOD

<div class="modal fade" id="modalConsultar_@Model.CdPergunta" tabindex="-1" aria-labelledby="modalConsultar_@Model.CdPergunta" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-md">
        <div class="modal-content border-0 shadow">
            <div class="modal-header text-white bg-primary">
                <h5 class="modal-title mx-4" id="modalConsultar_@Model.CdPergunta">
                    <i class="fas fa-file-alt me-3"></i>Detalhes da Pergunta
                </h5>
            </div>
            <div class="modal-body mx-4 text-start">
                <div class="mb-4">
                    <h6 class="text-green mb-3"><i class="fas fa-clipboard-list me-2"></i>Pergunta</h6>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <span class="text-gray-dark">Título:</span><br />
                            <h5>@Model.TxPergunta</h5>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="mb-4">
                    <h6 class="text-green mb-3"><i class="fas fa-list me-2"></i>Informações</h6>
                    <div class="row g-3">
                        <div class="col-md-6 text-gray">
                            <strong class="text-gray-dark">Data do cadastro:</strong><br />
                            @Model.DtCadastro.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <div class="col-md-6 text-gray">
                            <strong class="text-gray-dark">Data da última alteração:</strong><br />
                            @((Model.DtAlteracao.ToString != null) ? Model.DtAlteracao.Value.ToString("dd/MM/yyyy HH:mm") : "Não houve alterações")
                        </div>
                        <div class="col-md-12 text-gray">
                            <strong class="text-gray-dark">Último usuário a alterar:</strong><br />
                            @Model.NoUsuarioAlterou
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-gray" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Fechar
                </button>
            </div>
        </div>
    </div>
</div>
